pkgbase = perl-app-bs-git
	pkgdesc = Build system for PKGBUILD based Linux distributions
	pkgver = r100.fd1fc4b
	pkgrel = 1
	url = https://cincotuf.lan/pennylinux/BS
	arch = any
	license = Artistic-1.0-Perl
	license = GPL-1.0-or-later
	makedepends = perl-syntax-keyword-try
	makedepends = perl-cpanel-json-xs
	makedepends = perl-app-fatpacker
	makedepends = perl-module-build
	makedepends = perl-dbi
	makedepends = cpanminus
	makedepends = perl-inline-c
	makedepends = perl-path-tiny
	makedepends = perl-net-ssleay
	depends = perl
	depends = expac
	depends = pacutils
	depends = archlinux-contrib
	depends = pacman-contrib
	depends = archiso
	depends = pacman-mirrorlist
	depends = shiny-mirrors-git
	depends = perl-net-ssleay
	options = !emptydirs
	options = staticlibs
	source = git+https://cincotuf.lan/pennylinux/BS.git#tag=app-bs-0-r1?signed=1
	validpgpkeys = 5D8733704B740FC4B330EF5E8FFAD8B7BA73987
	b2sums = b83af2b1274a963c3c4d174f282a0673c28a3e4ab7c715686c12d87f7d30d8038254be0cee7cf1632c1b4df379284ef30579b9045a2e993a373baac0b090cb97

pkgname = perl-app-bs-git
