pkgbase = perl-app-bs-git
	pkgdesc = Build system for PKGBUILD based Linux distributions
	pkgver = r100.fd1fc4b
	pkgrel = 1
	url = https://cincotuf.lan/pennylinux/BS
	arch = any
	license = Artistic-1.0-Perl
	license = GPL-1.0-or-later
	makedepends = perl-syntax-keyword-try
	makedepends = perl-cpanel-json-xs
	makedepends = perl-app-fatpacker
	makedepends = perl-module-build
	makedepends = perl-dbi
	makedepends = cpanminus
	makedepends = perl-inline-c
	makedepends = perl-path-tiny
	makedepends = perl-net-ssleay
	depends = perl
	depends = expac
	depends = pacutils
	depends = archlinux-contrib
	depends = pacman-contrib
	depends = archiso
	depends = pacman-mirrorlist
	depends = shiny-mirrors-git
	depends = perl-net-ssleay
	options = !emptydirs
	options = staticlibs
	source = git+https://cincotuf.lan/pennylinux/BS#tag=app-bs-0-r1?signed=1
	validpgpkeys = 5D8733704B740FC4B330EF5E8FFAD8B7BA73987
	b2sums = 417a73e79b82d803f89a83962af950ccc5f59bbb674e824343268c73dd8154c3d207dbf6ba0437709935d9bbab88ca276c20202a95ee3930a7e2e4474bd20680

pkgname = perl-app-bs-git
