pkgbase = perl-app-bs-git
	pkgdesc = Build system for PKGBUILD based Linux distributions
	pkgver = app.bs.0.r1.r3.gb47116d
	pkgrel = 1
	url = https://cincotuf.lan/pennylinux/BS
	arch = any
	license = Artistic-1.0-Perl
	license = GPL-1.0-or-later
	makedepends = perl-syntax-keyword-try
	makedepends = perl-cpanel-json-xs
	makedepends = perl-app-fatpacker
	makedepends = perl-module-build
	makedepends = perl-dbi
	makedepends = cpanminus
	makedepends = perl-inline-c
	makedepends = perl-path-tiny
	makedepends = perl-net-ssleay
	makedepends = perl-module-build-xsutil
	depends = perl
	depends = expac
	depends = pacutils
	depends = archlinux-contrib
	depends = pacman-contrib
	depends = archiso
	depends = pacman-mirrorlist
	depends = shiny-mirrors-git
	depends = perl-net-ssleay
	depends = perl-devel-checkbin
	options = !emptydirs
	options = staticlibs
	source = perl-app-bs::git+https://cincotuf.lan/pennylinux/BS#commit=b47116d5eb7ea7242d1e669496aa569784de5504
	sha512sums = bcde089675abc5a2cc51af183405b4d8084f8fccb9e892ac3bce13b3fb299f804944e15d56ace8125e186b43cee99c95881b537f4571908ab3809eddef7aad42
	b2sums = b946a755cddf7463ee75fb2c07f68e54eb313ea15267973a5b80ba55b025089c4e8db3b948c914908fa52aacb211217230d2d39dff38b540fb1299db253d373d

pkgname = perl-app-bs-git
